

<html>
<head>
    <meta charset="UTF-8">
    <title>Select Pokemon Type</title>
</head>
<body>
    <h1>Select a Pokemon Type:</h1>
    <form method="post" action="{% url 'select_pokemon_type' %}">
        {% csrf_token %}
        print({{alltypes}})
        <label for="pokemon_type">Pokemon Type:</label>
        <select id="pokemon_type" name="pokemon_type">
            {% for type in alltypes %}
                <option value="{{type}}"> {{type}}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Fetch Pokemon</button>
    </form>
</body>
</html>

